.question-cards .container {
	gap: 10px;
	perspective: 1000px;
}
.card {
	min-height: 200px;
	background-color: #e9e9e9 !important;
	flex-basis: 100%;
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
		background-color 0.3s ease, font-size 0.3s ease, color 0.3s ease;
	position: relative;
	transform-style: preserve-3d;
	cursor: pointer;
}
.card div {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	backface-visibility: hidden;
}
.card .front {
	transform: rotateX(-180deg);
}
.card .front p {
	rotate: 180deg;
}

.card.active {
	background-color: #f00 !important;
	font-size: 1.3rem;
	color: #fff;
	transform: rotateY(180deg);
}
.sub-heading {
	font-size: 1.3rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.card {
		flex-basis: calc((100% - 10px) / 2);
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.card {
		flex-basis: calc((100% - 20px) / 3);
	}
}
